@{
    ViewData["Title"] = "Index";
}
<h2 class="text-white mt-lg-4 mb-4" style="text-align: center">News</h2>
<div class="alert alert-dismissible alert-info">
       <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
       <h4 class="alert-heading">Alert!</h4>
       <p class="mb-0">Here you can find all newest information about HR_Portal!</p>
</div>
<table class="table table-bordered table-stripped user-table" style="width:100%">
    <thead class="table-dark">
        <tr>
            <th style="width:10%">Date</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody class="table-primary">
        <tr>
            <td>05.02.2022</td>
            <td>Hello! HR_Portal just started in version 1.0, keep visiting this page for information about updates and info about new functionality!</td>
        </tr>
    </tbody>
</table>